#headerBar{
    height:80px;
    position:relative;
    line-height:80px;
}

#headerBar img{
    /*width:64px;
    /*height:53px;*/
    /*vertical-align:middle;
    display:inline-block;*/

    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
  
}
#headerBar .header-text{
    margin-left:100px;
    font-size:28px;
    color:#AFCA89;
    display:inline-block;
}

#headerBar .place-text{
    font-size:20px;
    margin-left:40px;
}